@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

.head {
  height: 5rem;
}
.main-content {
  display: flex;
  height: 80vh;
  width: 100%;
  background-image: url(./img/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 70%;
  align-items: center;
  align-content: space-around;
  justify-content: center;
}

.showData {
  height: 100%;
  width: 30%;
  line-height: 2.3rem;
}
.showData .Facts {
  text-align: center;
}
.text-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 6rem;
  width: 100%;
  justify-content: space-between;
}

.text-content .head-text {
  font-size: 2rem;
}

.text-content .content-text {
  font-size: 1rem;
  width: 56%;
}

.controler {
  display: flex;
  width: 60%;
  justify-content: center;
  border: solid 1px black;
  justify-content: space-evenly;
}
.head img {
  width: 7rem;
  padding: 0.5rem;
}
.table-analyse {
  display: flex;
  width: 100%;
  justify-content: center;
}
table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
th,
td {
  padding: 5px;
  text-align: left;
}

.button {
  width: 7rem;
  height: 2rem;
}
